body {
  margin: 0;
  background-color: #edf2f6;
  font-family: Arial;
}
.exchange {
  background-color: #ffffff;
  margin: 20px auto;
  width: 460px;
  padding: 30px;
  box-shadow: 0 0px 20px #ddd;
  box-sizing: border-box;
}
.currencies {
  display: flex;
  justify-content: space-between;
}
.currencies > span {
  font-size: 80%;
}
input {
  border: 1px solid #d7dee6;
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 130%;
}
select {
  border-radius: 4px;
  width: 45%;
}
button {
  background-color: #058fff;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  border: 0px;
  margin-top: 10px;
  color: #ffffff;
  font-size: 95%;
}
button:hover {
  background-color: #3ca8ff;
}
p#output {
  background-color: #f9f9f9;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px 0 0 0;
  font-size: 110%;
}

/* for dev */
.overlayImg {
  position: absolute;
  z-index: 99;
  opacity: 0.5;
  top: 0px;
  display: none;
}
